

.todo-list{
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: space-between;
  width: 90%;
}
.todo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  box-shadow: 0 6px 10px;
  border-radius: 15%;
}

.todo-item:hover {
  background-color: rgb(213, 213, 213);
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
}